{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<div class="">
    <h1>Hello ! ✅ </h1>
    <img src="{{ asset('build/images/voiture.jpg') }}" alt="test">
</div>
{% endblock %}
